extends ../layout

block content
    .w-50.mx-auto
        h1.mb-3 HR - Edit employee
        
        form(action='/hr/' + employee.Employee_ID, method='POST')
            .mb-3
                label.form-label(for='employeeId') Employee ID
                input#employeeId.form-control(name='employeeId' type='text' value= employee.Employee_ID)

            .row.mb-3
                .col
                    label.form-label(for='firstName') First name
                    input#firstName.form-control(type='text' name='firstName' value= employee.First_Name)
                .col
                    label.form-label(for='lastName') Last name
                    input#lastName.form-control(type='text' name='lastName' value= employee.Last_Name)
            
            .mb-3.row
                .col-3
                    .form-check
                        input#maleGender.form-check-input(type='radio' name='gender' checked= employee.Gender value='1')
                        label.form-check-label(for='maleGender')
                            | Male
                .col-3               
                    .form-check
                        input#femaleGender.form-check-input(type='radio' name='gender' checked= !employee.Gender value='0')
                        label.form-check-label(for='femaleGender')
                            | Female
            
            .mb-3.row
                .col
                    label.form-label(for='email') City
                    input#email.form-control(type='text' name='city' value= employee.City)
                .col
                    label.form-label(for='email') Email
                    input#email.form-control(type='email' name='email' value= employee.Email)

            .mb-3
                label.form-label(for='phoneNumber') Phone number
                input#phoneNumber.form-control(type='text' name='phone' value= employee.Phone_Number)    
            
            .mb-5
                label.form-label Shareholder status
                select.form-select(name='shareholder')
                    option(value='1' selected= employee.Shareholder_Status) True
                    option(value='0' selected= !employee.Shareholder_Status) False  
            .mb-3
                label.form-label(for='benefitPlan') Benefit_Plans
                input#benefitPlan.form-control(name='benefitPlan' type='text' value= employee.Benefit_Plans)
            button.btn.btn-primary(type='submit') Submit